@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #323F4D;
    --cor01: #4D8ED5;
    --cor02: #1C334D;
    --cor03: #657E99;
    --cor04: #87A8CC;
}

body {
    background-color: var(--cor01);
}

main {
    background-color: white;
    padding: 10px;
    width: 70vw;
    height: 90vh;
}
.imagem {
  
}

