@charset "UTF-08";

* {
    font-family: 'Times New Roman', Times, serif;
    /*height: 100%;*/

}
body {
    background-image: linear-gradient(to right, #6F00F0, #2061D9);
    

}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #15295899;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #BA00D9;
    text-align: center;
    text-shadow: 1px 1px 2px #8802a0a2;
}
h2 {
    color: #FF00D7;
}
p{
    text-align: justify;

}